body {
    font-family: Arial, sans-serif;
    background-color: #fff; /* Blanco */
    color: #D4AF37; /* Oro */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #F0F0F0; /* Blanco */
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #D4AF37; /* Oro */
    border-radius: 4px;
    box-sizing: border-box;
}

.btn-login {
    padding: 10px 20px;
    border: 2px solid #D4AF37; /* Oro */
    color: #D4AF37; /* Oro */
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

    .btn-login:hover {
        background-color: #D4AF37; /* Oro */
        color: #fff; /* Blanco */
    }
