/* Estilos generales para el cuerpo */
body {
    font-family: Arial, sans-serif;
    background-color: #fff; /* Blanco */
    color: #D4AF37; /* Oro */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilos para el botón */
input[type="submit"],
input[type="button"],
button {
    padding: 10px 20px;
    border: 2px solid transparent; /* Botón con borde transparente */
    color: #D4AF37; /* Texto Oro */
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    font-weight: bold;
}

    input[type="submit"]:hover,
    input[type="button"]:hover,
    button:hover {
        background-color: #D4AF37; /* Oro */
        color: #fff; /* Texto blanco */
        border-color: #D4AF37; /* Borde Oro al pasar el cursor */
    }

/* Estilos para los textos */
label {
    display: block; /* Muestra cada etiqueta en una nueva línea */
    margin-bottom: 5px; /* Espacio entre cada etiqueta */
}

/* Estilos para los inputs */
input[type="text"],
input[type="date"],
select {
    width: 72%;
    padding: 10px;
    border: 1px solid #D4AF37; /* Borde Oro */
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

/* Estilos para el texto */
h1, h2, p {
    font-weight: bold;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

/* Estilos para los contenedores específicos */
.login-container {
    background-color: #fff; /* Blanco */
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    width: 100%; /* Ancho de la sección */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

/* Estilos para el GridView */
#GridView1 {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

    #GridView1 th,
    #GridView1 td {
        border: 1px solid #D4AF37; /* Borde Oro */
        padding: 8px;
        text-align: left;
    }
